{
    "printWidth": 100,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,
    "embeddedLanguageFormatting": "auto",
    "vueIndentScriptAndStyle": false,
    "experimentalTernaries": false,
    "filepath": "c:\\Users\\Bo\\Desktop\\-WEB-DEV-CF-\\My-Portfolio-Web\\meeet\\src\\__tests__\\EndToEnd.test.js",
    "parser": "babel"
}
